<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 shadow">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" th:href="@{/}">💊 PCMS Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" th:if="${session.loggedInUser.roleId == 1}">
                        <a class="nav-link" th:href="@{/branches}">🏡 Chi nhánh</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">🗂️ Loại thuốc</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/medicines}">💊 Thuốc</a>
                    </li>

                    <li class="nav-item" th:if="${session.loggedInUser.roleId == 1}">
                        <a class="nav-link" th:href="@{/appusers}">👥 Tài khoản</a>
                    </li>
                    <li class="nav-item" th:if="${session.loggedInUser.roleId == 1}">
                        <a class="nav-link" th:href="@{/settings}">⚙️ Cấu hình</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                   <span class="text-white me-3" th:if="${session.loggedInUser != null}">
       Xin chào, <span th:text="${session.loggedInUser.fullName}"></span>!
   </span>
                    <a th:href="@{/logout}" class="btn btn-danger btn-sm fw-bold">Đăng xuất</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>